#twitter {
  position:relative;
  height:24vmin;
  width:24vmin;
}

#twitter img {
  position:absolute;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes twitterFadeInOut0 {
  0% {
    opacity:1;
    margin-left: -100%;
  }
  49% {
    opacity:1;
    margin-left: 100%;
    transform: scaleX(1);
  }
  50% {
    opacity:0;
    transform: scaleX(-1);
  }
  100% {
    opacity:0;
    margin-left: -100%;
    transform: scaleX(-1);
  }
}

@keyframes twitterFadeInOut1 {
  0% {
    opacity:0;
    margin-left: -100%;
  }
  49% {
    opacity:0;
    margin-left: 100%;
    transform: scaleX(1);
  }
  50% {
    opacity:1;
    transform: scaleX(-1);
  }
  100% {
    opacity:1;
    margin-left: -100%;
    transform: scaleX(-1);
  }
}

#twitter img.bottom {
  animation-name: twitterFadeInOut0;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#twitter img.top{
  animation-name: twitterFadeInOut1;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

#github {
  position:relative;
  height:24vmin;
  width:24vmin;
  margin-top: 3vmin;
}

#github img {
  position:absolute;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes githubFadeInOut0 {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@keyframes githubFadeInOut1 {
  0% {
    opacity:0;
  }
  49% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:1;
  }
}

#github img.bottom {
  animation-name: githubFadeInOut0;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#github img.top{
  animation-name: githubFadeInOut1;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
